nav {
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 70px;
  font-weight: 800;
  font-size: 20px;
}

.container img {
  width: 25%;
  padding-right: 100px;
}
